<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (11.2)</string>
	<string>T14.0 (7368.0.95)</string>
	<string>T14.1 (7369.0.73)</string>
	<string>G-r1410-14B91</string>
	<string>G-r1420-14C116</string>
	<string>T14.2 (7370.0.111)</string>
	<string>G-r1420-14C116</string>
	<string>G-r1420-14C118</string>
	<string>G-r1420-14C119</string>
	<string>T14.2 (7370.0.111)</string>
	<string>T14.3 (7371.0.72)</string>
	<string>T14.4 (7372.0.92)</string>
	<string>G-r1440-14E130</string>
	<string>G-r1440-14E134</string>
	<string>G-r1440-14E137</string>
	<string>T14.4 (7372.0.92)</string>
	<string>G-r1440-14E137</string>
	<string>G-r1510-15A330</string>
	<string>G-r1510-15A344</string>
</array>
</plist>
