DATABASE_URL=postgresql://user:password@localhost:5432/freeweight
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30



# Add drop down menu for max lifts, give capacity to add/remove

# Strength goals too - optional lifts, or qualitative goals that they can write out

# Faster onboarding if have a coach - skip some questions defined by coach

# Add more exercises, and have a way to add custom exercises to drop down menu

# Fix coach onboarding for app - once already signed in can't add coach code

# While running workout, add an optional rest timer.

# At the end of the workout, add a debrief. Athlete logs how they felt RPE, and any notes about the workout. This can be used for future reference and to track progress over time.

# Previous workouts should be color graded by RPE, so that athletes can easily see which workouts were more challenging and which were easier. This can help them to better understand their progress and adjust their training accordingly.

# Create a button to auto-generate a workout plan (give a timeframe option in # weeks, or target date based on a strength target) based on injuries, goals, and max lifts. Create a weekly repeating program with "threads" for each goal.

# Add a description to each workout which describes the purpose of the workout and how it fits into the overall training program. This can help athletes to better understand the rationale behind each workout and stay motivated.

# Add a + button calendar days to add a workout to that day, and have the option to copy a previous workout or generate a new one based on the program, or create custom one.


# Add a social feature - allow athletes to connect with friends, share their workouts and progress, and see other people's lifts. This should be similar to Strava, but focused on strength training accomplishments.

# Add rest timer for workouts
# continue plan in claude

